In [ ]:
def three_sum(l,n):
    
    for i in l:
        for j in l[:]